<%= form_for @movie do |f| %>
    <%= render 'shared/errors', object: @movie %>
    <fieldset>
        <ol>
            <li class="required">
                <%= f.label :title %> <br/>
                <%= f.text_field :title, autofocus: true %>
            </li>
            <li class="required">
                <%= f.label :description %><br/>
                <%= f.text_area :description, cols: 40, rows: 7 %>
            </li>
            <li class="required">
                <%= f.label :rating %><br/>
                <%= f.select :rating, Movie::RATINGS, prompt: 'Pick one' %>
            </li>
            <li class="required">
                <%= f.label :released_on %><br/>
                <%= f.date_select :released_on %>
            </li>
            <li class="required">
                <%= f.label :total_gross %><br/>
                <%= f.number_field :total_gross %>
            </li>
            <li class="required">
                <%= f.label :duration %><br/>
                <%= f.text_field :duration %>
            </li>
            <li class="required">
                <%= f.label :image_file_name %><br/>
                <%= f.text_field :image_file_name %>
            </li>
            <li>
                <%= f.label :cast %><br/>
                <%= f.text_field :cast %>
            </li>
            <li>
                <%= f.label :director %><br/>
                <%= f.text_field :director %>
            </li>
        </ol>
        <p>
            <%= f.submit %> |
            <%= link_to 'Cancel', movies_path, class: 'button' %>
        </p>
    </fieldset>
<% end %>
