<article id="movie" class="movie">
  <header>
    <%= image_for @movie %>
    <h1><%= @movie.title %></h1>
    <h2><%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>

  <p class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %>
  </p>

  <h3>Cast</h3>
  <p>
      <%= @movie.cast %>
  </p>

  <h3>Director</h3>
  <p>
      <%= @movie.director %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

  <h3>Average Review</h3>
  <p>
      <%= format_average_stars(@movie) %>
  </p>

    <% if @movie.reviews.any? %>
        <h3>Recent Reviews</h3>
        <ol id="reviews">
        <% @movie.recent_reviews(2).each do |review| %>
            <li>
                <%= profile_image_for(review.user, size: 35) %>
                <span class="review"><%= pluralize review.stars, 'star' %></span>
                <span class="user">by <%= review.user.name %></span>
                <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
                <p>
                    &quot;<%= review.comment %>&quot;
                </p>
            </li>
        <% end %>
        </ol>
        <p>
            Read all <%= link_to pluralize(@movie.reviews.count, 'review'),
                        movie_reviews_path(@movie) %>
        </p>
    <% end %>

    <footer>
        <%= link_to 'Write Review', new_movie_review_path(@movie), class: 'button ok review' %>
        <nav>
        <% if current_user_admin? %>
            <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
            <%= link_to 'Delete', movie_path(@movie), class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
            <%= link_to pluralize(@movie.reviews.count, 'Review'), movie_reviews_path(@movie), class: 'button' %>
        </nav>
    </footer>
</article>


