<article id="user">
    <header>
        <h1><%= @user.name %></h1>
        <h2><%= mail_to(@user.email) %></h2>
    </header>
    <footer>
        <nav>
            <%= link_to 'Edit', edit_user_path(@user), class: 'button' %>
        </nav>
    </footer>
</article>
