<header id="page-header">
    <div id="masthead">
        <h1><%= link_to 'Flix', root_path %></h1>

        <nav>
            <p>
                <%= link_to current_user.name, current_user %>
                <%= link_to 'Sign Up', signup_path, class: 'button' %>
                <%= link_to 'Sign In', signin_path, class: 'button' %>
            </p>
        </nav>
    </div>
</header>
