<!DOCTYPE html>
<html>
<head>
  <title>Flix - a better IMDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div id="wrapper">

        <%= render 'layouts/flashes' %>

        <div id="container">
            <section id="sidebar">
                <%= render 'layouts/sidebar' %>
            </section>
            <section id="content">
                <%= yield %>
            </section>
        </div>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>
